Repository matheusalbino/matheusalbino.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: apply react memo
  src/common/useThemeManager.tsx
  src/components/Box.tsx
  src/components/Header.tsx
  src/components/HeaderMenu.tsx
  src/components/HeaderMenuItem.tsx
  src/components/Toggle.tsx
Due: eslint --fix

chore: upgrade deps
  package-lock.json
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

refactor: some improvements
  .husky/pre-commit
  .nvmrc
  package-lock.json
  package.json
  src/components/HeaderMenuItem.tsx
  src/pages/index/AboutSection.tsx
  src/pages/index/ContactSection.tsx
  src/pages/index/WelcomeSection.tsx
Due: eslint --fix, prettier --write

refactor: some improvements
  .commitlintrc.yaml
  .github/workflows/deploy.yml
  .husky/commit-msg
  config/webpack/getDevServer.js
  config/webpack/getDevtool.js
  config/webpack/getEntry.js
  config/webpack/getFileName.js
  config/webpack/getMode.js
  config/webpack/getModuleRules.js
  config/webpack/getPlugins.js
  config/webpack/getResolve.js
  config/webpack/index.js
  package-lock.json
  package.json
  src/index.tsx
  webpack.config.js
Due: eslint --fix, prettier --write

refactor: some improvements
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: some improvements
  .husky/commit-msg
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: add changelog
  CHANGELOG.md
Due: none

chore(release): 0.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: build production process
  .husky/pre-push
  CHANGELOG.md
  config/webpack/getDevServer.js
  config/webpack/getFileName.js
  config/webpack/getPlugins.js
  config/webpack/index.js
  package-lock.json
  package.json
  src/index.html
Due: prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ 70032d94ce2bf621c8a7352b1be46f2411885932 🚀
  favicon.ico
  index.html
  robots.txt
  static/css/app.97e3a12cdd3aa5953225.css
  static/css/app.97e3a12cdd3aa5953225.css.map
  static/js/519.a116284eb21d839e1072.js
  static/js/519.a116284eb21d839e1072.js.map
  static/js/918.570e3ea1368a6fbf7a36.js
  static/js/918.570e3ea1368a6fbf7a36.js.map
  static/js/980.20a013cf689afef5a9ef.js
  static/js/980.20a013cf689afef5a9ef.js.map
  static/js/app.e249af7cb9135c1e4fcc.js
  static/js/app.e249af7cb9135c1e4fcc.js.LICENSE.txt
  static/js/app.e249af7cb9135c1e4fcc.js.map
Due: prettier --write

Create CNAME
  CNAME
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json}
